NODE_ENV=

PORT=

DATABASE_URL="postgresql://username:비밀번호@localhost:5432/docthru_db"

CORS_ORIGINS=

API_BASE_URL=
CLIENT_BASE_URL=

# 토큰 인증
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# 구글 소셜
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# 이미지용
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
