NODE_ENV=

PORT=

DATABASE_URL="postgresql://username:비밀번호@localhost:5432/docthru_db"

CORS_ORIGINS=

API_BASE_URL=
CLIENT_BASE_URL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
